 h2{
       padding:10px;
   }
   table {
       font-family: Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 100%;
  }

   td, th {
       border: 2px solid #ddd;
       padding: 6px;
       }
   tr{background-color: #f2f2f2;}
   tr{background-color: #ddd;}
   th {
       padding-top: 12px;
       padding-bottom: 12px;
       text-align: middle;
       background-color: #689C97;
       color: white;
   }

@media(max-width: 920px) {
   
   h2{
       padding: 13px;
   }
   table {
       font-family: Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 95%;
  }
 
   tr{background-color: #f2f2f2;}
   tr{background-color: #ddd;}
   td, th {
       border:3px solid #ddd;
       padding: 7px;
   }
   th {
       padding-top: 13px;
       padding-bottom: 13px;
       text-align: middle;
       background-color: #689C97;
       color: white;
   }
}


@media(max-width: 540px) {
   
   h2{
       padding: 18px;
   }
  
   table {
       font-family: Arial, Helvetica, sans-serif;
       border-collapse: collapse;
       width: 90%;
  }
 
   tr{background-color: #f2f2f2;}
   tr{background-color: #ddd;}
   td, th {
       border:5px solid #ddd;
       padding: 8px;
   }
   th {
       padding-top: 14px;
       padding-bottom: 14px;
       text-align: middle;
       background-color: #689C97;
       color: white;
   }
}
